'use strict'
const merge = require('webpack-merge')
const prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  FIREBASE_API_KEY: '"AIzaSyD0HypaPrSUiNICjiRvxFa2LpdjH326EB4"',
  FIREBASE_AUTH_DOMAIN: '"vue-devmeetup-1a124.firebaseapp.com"',
  FIREBASE_DATABASE_URL: '"https://vue-devmeetup-1a124.firebaseio.com"',
  FIREBASE_PROJECT_ID: '"vue-devmeetup-1a124"',
  FIREBASE_STORAGE_BUCKET: '"vue-devmeetup-1a124.appspot.com"',
  FIREBASE_MESSAGING_SENDER_ID: '"1051666383758"'
})
